        .join input {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            /* border-radius: 5px; */
            border: 1px solid;
            outline:none;
            padding-left: 10px;
        
        }
        .join select {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            /* border-radius: 5px; */
            border: 1px solid;
            outline:none;
        }
        .join .btn{
            color:white;
            border:0;
            min-height: 40px;
            cursor:pointer;
        }

        .join .btn-submit{
            width: 100%;
            background-color: royalblue;

        }

        .join {
            max-width: 380px;
            width: 100%;

            border: 1px solid;
            margin: 0 auto;
            padding: 20px;
        }

        .join h2 {}

        .join form {
            width: 100%;
            /* border: 1px solid; */
   
        }

        .join form>.items {
            width: 100%;
            /* border: 1px solid; */
            margin-bottom: 10px;
        }

        .join form>.items>.item {}

        .join form>.items>.item.label {
            display: flex;
            justify-content: space-between;
        }

        .join form>.items>.item.phone {
            display: flex;
            justify-content: space-between;
            gap:5px;
        }
        .join form>.items>.item.phone>select{
            width:166px;
        }
        .join form>.items>.item.birth {
            display: flex;
            justify-content: space-between;
            gap:5px;
        }